body{background: #f6f6f6;}
.container{margin: 0 auto;width:980px;}
.header{
	background: #fff;
	border: #e2e2e2 solid 1px;
	border-bottom: 4px solid #ff464e;
	.area{
		position: relative;
		height: 76px;
		.area-frist{
			position:absolute;
			left: 0px;top: 17px;
			.logo{
				width: 210px;
				height: 52px;
				background-image: url(../../../xiangmu/img/header-total.gif);
				background-repeat: no-repeat;
				background-position: -78px -217px;
				}
			}
		.area-second{
			position:absolute;
			right:0px;
			background-position: 0 0;
			height: 33px;
			width: 465px;
			top:28px;
			background-repeat: no-repeat;
			background-image: url(../../../xiangmu/img/header-total.gif);
			a{
				display: block;
				float: left;
				height: 16px;
				width: 98px;
				margin: 0 0px 0 34px;
				}
			}
			.banner-right-code{
				display: block;
				position: absolute;
				right: -80px;
				top: 125px;
				z-index: 2;
				}
				
		}
	.mainNav{
		height: 38px;
		}
		
	}
	.miana .main{
		width: 980px;
		height: 573px;
		margin-top: 20px;
		.login-content {
			width: 978px;
			position: relative;
			background: #fff;
			overflow: hidden;
			border: 1px solid #e2e2e2;
			padding-bottom: 50px;
			.title {
				width: 878px;
				height: 24px; 
				padding: 20px 50px;
				border-bottom: #e2e2e2 solid 1px;
				overflow: hidden;
				.hd{
					color: #ff464e;
					    font-size: 16px;
					    font-family: "微软雅黑","宋体";
					    margin-right: 10px;
					    background: url(../../../xiangmu/img/hd-bg.gif) no-repeat center right;
					    padding-right: 20px;
					    float: left;
					}
				.tips{
					    color: #666;
					    float: left;
					    margin-top: 3px;
						font-size: 12px;
					}
				.other{
					    float: right;
					    font-size: 14px;
					    color: #999;
						a{
						color: #0289cd;
						font-size: 14px;
						}
					}
				}
			.login-center{
				padding: 30px 80px 0 80px;
				width: 818px;
				height:308px;
				overflow: hidden;
				.login-l-img{
					    float: right;
					    display:block;
						overflow: hidden;
						width: 358px;
						text-align: right;
						img{
							border: 0;
							text-align: right;
						}
				}
				.login_list{
					list-style: none;
					float: left;
					li{
						padding-bottom: 25px;
						overflow: visible;
						position: relative;
						height: 45px;
						width: 450px;
						.btn{float: left;
						    width: 260px;
							.sub{
								background-position: 0 0;
								color: #fff;
								width: 260px;
								height: 40px;
								cursor: pointer;
								font-size: 16px;
								border-radius: 2px;
								 background: url(../../../xiangmu/img/new-login.gif) no-repeat;
							}
						}
						.normal{
							width: 80px;
							text-align: right;
							float: left;
							display: inline;
							height: 20px;
							margin-top: 8px;
							font-size: 14px;
							}
						.normal-input{
							color: #666;
							 padding: 12px 0 12px 10px;
							height: 14px;
							line-height: 14px;
							width: 250px;
							float: left;
							}
						.otherregister {
						    height: 40px;
						    line-height: 40px;
						    padding-left: 6px;
						    display: inline-block;
						    margin-top: -2px;
							font-size: 12px;
							a{
								color: #0289cd;
							}
						}
						.error-box {
						    margin-left: 10px;
						    width: 16px;
						    height: 16px;
						    margin-top: 10px;
						    color: #666;
						    float: left;
						    overflow: hidden;
							font-size: 12px;
						strong {
							    width: 16px;
							    height: 16px;
							    background: url(../../../xiangmu/img/login.gif) no-repeat;
							    display: inline-block;
							    margin-right: 3px;
								background-position: 0 -19px;
							}
							.msg_error {
							    width: 330px;
							    height: 16px;
							    overflow: hidden;
							    position: absolute;
							    top: 42px;
							    left: 90px;
							    color: #ff464e;
							}
						}
						.box_border{
							border: 1px solid #666;
							width: 270px;
							float: left;
							.user_img{
								    background: url(../../../xiangmu/img/name2.jpg) no-repeat #f1f1f1;
								    width: 39px;
								    height: 38px;
								    float: left;
								}
							.code_img{
								    background: url(../../../xiangmu/img/code2.jpg) no-repeat #f1f1f1;
								    width: 39px;
								    height: 38px;
								    float: left;
								}
							.normal-input{
								width: 226px;
								padding: 12px 0 12px 5px;
								border: 0;
								}	
							}
						}
					.chex-d {
						    padding-bottom: 8px;
						    height: 20px;
							.normal {
							    width: 80px;
							    text-align: right;
							    float: left;
							    display: inline;
							    height: 20px;
							    margin-top: 8px;
							    font-size: 14px;
							}
							.chex {
							    width: 280px;
							    float: left;
								span{
									color: #5e5e5e;
									float: left;
									font-size: 12px;
									input{
										vertical-align: -2px;
										margin-right: 5px;
											border: none;
										}
									}
									a{
										float: right;
										color: #999;
										font-size: 12px;
									}
							}
						}
					}
				}
			}
		.foot-tips {
			text-align: center;
			margin: 40px auto 40px;
			width: 900px;
			font-size: 12px;
			 color: #666;
			 a{
				 color: #5e5e5e;
				 font-size: 12px;
				 }
			 }
			.ft-company{
				color: #5e5e5e;
				font-size: 12px;
				padding-top: 2px;
			}
		}